@{
    ViewData["Title"] = "Index";
}

<h1>Convert documents</h1>

<ul>
    <li>
        <a asp-controller="ConvertFromPdf" asp-action="Index">Convert from PDF</a>
    </li>
    <li>
        <a asp-controller="ConvertToPdf" asp-action="Index">Convert to PDF</a>
    </li>
</ul>

