@{
    ViewData["Title"] = "Index";
}

<h1>Convert from PDF</h1>
<ul>
    <li>
        <a asp-controller="ConvertFromPdf" asp-action="Pdf_To_Excel">From PDF to Excel</a>
    </li>
    <li>
        <a asp-controller="ConvertFromPdf" asp-action="Pdf_To_Jpg">From PDF to JPG</a>
    </li>
    <li>
        <a asp-controller="ConvertFromPdf" asp-action="Pdf_To_PowerPoint">From PDF to POWERPOINT</a>
    </li>
    <li>
        <a asp-controller="ConvertFromPdf" asp-action="Pdf_To_Word">From PDF to WORD</a>
    </li>
</ul>

