
@{
    ViewData["Title"] = "Pdf_To_PowerPoint";
}

<h1>From PDF to POWERPOINT</h1>

<form asp-action="Pdf_To_PowerPoint" asp-controller="ConvertFromPdf" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile"/>
    <input type="submit" value="Upload"/>
</form>

<h2>File</h2>
@if(Model != null)
{
 <p>@Model.FileName</p>   
}