@model IFormFile
@{
    ViewData["Title"] = "Excel_To_Pdf";
}

<h1>From EXCEL to PDF</h1>

<form asp-action="Excel_To_Pdf" asp-controller="ConvertToPdf" method="post" enctype="multipart/form-data">
    <input type="file" name="uploadedFile"/>
    <input type="submit" value="Upload"/>
</form>

<h2>File</h2>
@if(Model != null)
{
 <p>@Model.FileName</p>   
}