@model File_Converter.Models.BusinessModels.UploadExcelModel
@{
    ViewData["Title"] = "Excel_To_Pdf";
}

<h1>From EXCEL to PDF</h1>

<div asp-validation-summary="All"></div>

<form asp-action="Excel_To_Pdf" asp-controller="ConvertToPdf" method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Information"/>
    <input type="submit" value="Upload"/>
</form>