
@{
    ViewData["Title"] = "Html_To_Pdf";
}

<h1>From HTML to PDF</h1>

<form asp-action="Html_To_Pdf" asp-controller="ConvertToPdf" method="post">
    <label>URL of page:</label><br />
    <input type="text" name="url" /><br />
    <input type="submit" value="Send"/>
</form>