
@{
    ViewData["Title"] = "Index";
}

<h1>Convert to PDF</h1>
<ul>
    <li>
        <a asp-controller="ConvertToPdf" asp-action="Excel_To_Pdf">From EXCEL to PDF</a>
    </li>
    <li>
        <a asp-controller="ConvertToPdf" asp-action="Html_To_Pdf">From HTML to PDF</a>
    </li>
    <li>
        <a asp-controller="ConvertToPdf" asp-action="Jpg_To_Pdf">From JPG to PDF</a>
    </li>
    <li>
        <a asp-controller="ConvertToPdf" asp-action="PowePoint_To_Pdf">From POWERPOINT to PDF</a>
    </li>
    <li>
        <a asp-controller="ConvertToPdf" asp-action="Word_To_Pdf">From WORD to PDF</a>
    </li>
</ul>


