@model File_Converter.Models.BusinessModels.UploadJpgModel
@{
    ViewData["Title"] = "Jpg_To_Pdf";
}

<h1>From JPG to PDF</h1>

<div asp-validation-summary="All"></div>

<form asp-action="Jpg_To_Pdf" asp-controller="ConvertToPdf" method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Information"/>
    <input type="submit" value="Upload"/>
</form>