@model File_Converter.Models.BusinessModels.UploadPowerPointModel
@{
    ViewData["Title"] = "PowerPoint_To_Pdf";
}

<h1>From POWERPOINT to PDF</h1>

<div asp-validation-summary="All"></div>

<form asp-action="PowerPoint_To_Pdf" asp-controller="ConvertToPdf" method="post" enctype="multipart/form-data">
    <input type="file" asp-for="Information"/>
    <input type="submit" value="Upload"/>
</form>

<h2>File</h2>
@if(Model != null)
{
 <p>@Model.Information.FileName</p>   
}